*{
    box-sizing: border-box;
}
.game {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.game-info p {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 6px;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.3);
    border: 1px solid transparent;
}
.game-info ol {
    list-style-type: '🎯';
    margin-left: 20px;
    padding-inline-start: 20px;
}
.game-info li{
    
    margin-top: 10px;
}
.game-info button {
    border-radius: 20px;
    border: 1px solid transparent;
    margin: 0;
    padding: 10px;
    
}