*{
    box-sizing: border-box;
}
.game {
    display: flex;
    align-items: center;

}

.game-info, p {
    font-size: 5px;
}
.game-info p {
    display: flex;
    align-items: center;
    height: 13.6px;
    margin: 0;
    padding: 3px;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.3);
    border: 1px solid transparent;
}
.game-info ol {
    list-style-type: '🎯';
    margin: 0;
    padding-inline-start: 20px;
}
.game-info li{
    height: 16px;
}
.game-info button {
    border-radius: 20px;
    border: 1px solid transparent;
    margin: 0;
    padding: 3px;
    
}